body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

header {
    width: 100vw;
    height: 69px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 37px;
    color: white;
    font-weight: 700;
    position: fixed;
    top: 0;
    z-index: 100;
}

main {
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.criar-quizz{
    margin-top: 30px;
    width: 340px;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}
.criar-quizz div:first-child{
    font-size: 20px;
    color: #b9b9b9;
    width: 250px;
    height: 107px;
    display: flex;
    align-items: center;
}
.criar-quizz div:last-child{
    font-size: 21px;
    width: 151px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 40px;

}
.novo-quizz{
    display: flex;
    flex-direction: column;
}
.novo-quizz h1 , p{
    font-size: 20px;
    margin: 20px 0 20px 10px;
    font-family:'Roboto';
    font-weight: 700;
}
.novo-quizz h1{
    margin: 30px auto 35px auto;
}

.novo-quizz .inputs{
    background-color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}
.novo-quizz input{
    width: 80%;
    margin: 5px;
    padding: 12px 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font-family:'Roboto',sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size:19px;

}
.proxima-tela{
    width: 323px;
    height: 54px;
    background-color: #EC362D;
    font-size: 18px;
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;
}
.perguntas{
    background-color: #fff;
    padding-bottom: 20px ;
    width: 100vw;
}
.esconder{
    display: none;
}
p {
    margin-top: 35px;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    margin-left: 15vw;

}

li {
    position: relative;
    width: 340px;
    height: 181px;
    margin-top: 14px;
    cursor: pointer;
}

.degrade {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
    position: absolute;
    width: 100%;
    height: 100%;
}

li img {
    width: 340px;
    height: 181px;
}

li span {
    color: white;
    position: absolute;
    font-size: 19px;
    bottom: 20px;
    left: 10px;
}

@media (min-width: 1100px) {
    .criar-quizz {
        width: 70vw;
        height: 181px;
    }

    .quizzes {
        width: 70vw;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    li {
        margin: 12px;
        margin-left: 0px;
    }
}

