body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

header {
    width: 100vw;
    height: 69px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 37px;
    color: white;
    font-weight: 700;
    position: fixed;
    top: 0;
    z-index: 100;
}

main {
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.criar-quizz{
    margin-top: 30px;
    width: 340px;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}
.criar-quizz div:first-child{
    font-size: 20px;
    color: #b9b9b9;
    width: 250px;
    height: 107px;
    display: flex;
    align-items: center;
}
.criar-quizz div:last-child{
    font-size: 21px;
    width: 151px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 40px;

}
.novo-quizz{
    display: flex;
    flex-direction: column;
}
.novo-quizz h1 , p{
    font-size: 20px;
    margin: 20px 0 20px 10px;
    font-family:'Roboto';
    font-weight: 700;
}
.novo-quizz h1{
    margin: 30px auto 35px auto;
}

.quizzes p {
    margin-left: 0;
}

.novo-quizz .inputs{
    background-color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}
.novo-quizz input{
    width: 80%;
    margin: 5px;
    padding: 12px 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font-family:'Roboto',sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size:19px;

}
.proxima-tela{
    width: 323px;
    height: 54px;
    background-color: #EC362D;
    font-size: 18px;
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;
}
.perguntas{
    background-color: #fff;
    padding-bottom: 20px ;
    width: 100vw;
}
.esconder{
    display: none;
}
.input-formulario {
    margin-top: 35px;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    margin-left: 15vw;

}

li {
    position: relative;
    width: 340px;
    height: 181px;
    margin-top: 14px;
    cursor: pointer;
}

.degrade {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

li img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

li span {
    color: white;
    position: absolute;
    font-size: 19px;
    bottom: 20px;
    left: 10px;
    z-index: 3;
}

.topo-quiz {
    width: 100%;
    height: 181px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.topo-quiz span {
    color: white;
    font-size: 19px;
    z-index: 10;
}

.topo-quiz .degrade {
    height: 181px;
    min-width: 360px;
    width: 100%;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0px;
}

.quiz {
    background-color: white;
    margin-top: 42px;
    width: 100%;
    min-height: 426px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    margin-top: 18px;
    width: 90%;
    height: 89px;
    color: white;
    font-size: 19px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 13px;
}

.titulo span {
    width: 308px;
}

.respostas {
    width: 90%;
}

.respostas div {
    display: flex;
    justify-content: space-between;
}

.resposta {
    margin-bottom: 5px;
    width: 49%;
}

.resposta img {
    width: 100%;
    height: 80%;
}

.resposta p {
    width: 150px;
    margin-top: 10px;
    font-size: 14px;
    word-break: break-all;}

.resposta-certa {
    color:green;
}

.resposta-errada {
    color: red;
}

.outras-respostas {
    opacity: 0.2;
}

.butoes {
    display: flex;
    flex-direction: column;
    margin-top: 40px
}

.reiniciar {
    background-color: #EC362D;
    width: 220px;
    height: 44px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    outline: none;
    color: white;
    margin-bottom: 8px;
    cursor: pointer;
}

.voltar {
    color: #BEBEBE;
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    margin-bottom: 66px;
    cursor: pointer;
}

.resultado {
    margin-top: 42px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-resultado {
    width: 90%;
}

.conteudo-resultado img {
    width: 100%;
    margin-bottom: 10px;
}

.texto-resultado {
    width: 340px;
}

@media (min-width: 1100px) {
    .criar-quizz {
        width: 70vw;
        height: 181px;
    }

    .quizzes {
        width: 70vw;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    li {
        margin: 12px;
        margin-left: 0px;
    }

    .topo-quiz span {
        color: white;
        font-size: 39px;
    }

    .quiz {
        width: 759px;
        height: 600px;
    }

    .titulo {
        width: 675px;
    }

    .resposta p {
        font-size: 20px;
    }

    .resposta img {
        width: 330px;
        height: 175px;
    }

    .resultado {
        width: 759px;
    }

    .conteudo-resultado {
        display: flex;
        justify-content: space-between;
    }
    
    .conteudo-resultado img {
        width: 364px;
        width: 273px;
    }
}

@media (max-width: 340px) {
    body {
        width: 360px;
    }
}

